.navbar {
  background-color: #0d2339;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.logo {
  font-weight: bold;
  font-size: 20px;
  color: orange;
}
